<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{% static 'css/base.css' %} ">
    

    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    
    <title>Nutri App</title> 
</head>
<body style="background-color: #E4E9F7; padding: 40px;">
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="{% static 'images/logo.png' %}" alt="">
                </span>

                <div class="text logo-text">
                    <span class="name">Bem vindo!</span>
                    <span class="user">{{request.user}}</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link-side">
                        <a href="/">
                            <i class='bx bx-home-alt icon' ></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    {% if request.user.is_staff %}
                    <li class="nav-link-side">
                        <a href="/novo-paciente">
                            <i class='bx bx-user-plus icon'></i>
                            <span class="text nav-text">Novo paciente</span>
                        </a>
                    </li>
                    
                    <li class="nav-link-side">
                        <a href="/pacientes">
                            <i class='bx bxs-user-pin icon'></i>
                            <span class="text nav-text">Pacientes</span>
                        </a>
                    </li>
                    {% endif %}
                    
                    {% if not request.user.is_staff %}
                    <li class="nav-link-side">
                        <a href="{% url 'minhas-medidas' request.user.paciente.id %}">
                            <i class='bx bx-pie-chart-alt icon'></i>
                            <span class="text nav-text">Minhas Medidas</span>
                        </a>
                    </li>
                    {% endif %}


                    <!-- <li class="nav-link-side">
                        <a href="#">
                            <i class='bx bx-heart icon' ></i>
                            <span class="text nav-text">Likes</span>
                        </a>
                    </li> -->

                    <!-- <li class="nav-link-side">
                        <a href="#">
                            <i class='bx bx-wallet icon' ></i>
                            <span class="text nav-text">Wallets</span>
                        </a>
                    </li> -->

                </ul>
            </div>
            <div class="bottom-content">
                <li class="">
                    <a href="/accounts/logout">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>
            </div>
        </div>

    </nav>
    <section class="home">
        {% block content %}
        {% endblock %}
    </section>
    <script src="{% static 'js/base.js' %}"></script>
</body>
</html>