{% extends 'base.html' %} {% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <form method="post">
      {% csrf_token %} 
      <div class="container">
        <h2>
          <i class="bx bx-user-edit"></i> Minhas Medidas - {{ paciente.nome_completo }}
        </h2>
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button
              class="nav-link active"
              id="nav-profile-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-profile"
              type="button"
              role="tab"
              aria-controls="nav-profile"
              aria-selected="true"
            >
              Dados
            </button>
            <button
              class="nav-link"
              id="nav-anamnese-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-anamnese"
              type="button"
              role="tab"
              aria-controls="nav-anamnese"
              aria-selected="false"
            >
              Anamnese
            </button>
            <button
              class="nav-link"
              id="nav-avalicao-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-avalicao"
              type="button"
              role="tab"
              aria-controls="nav-avalicao"
              aria-selected="false"
            >
              Avaliação
            </button>
            <button
              class="nav-link"
              id="nav-exames-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-exames"
              type="button"
              role="tab"
              aria-controls="nav-exames"
              aria-selected="false"
            >
              Exames
            </button>
            <button
              class="nav-link"
              id="nav-composicao-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-composicao"
              type="button"
              role="tab"
              aria-controls="nav-composicao"
              aria-selected="false"
            >
              Composição
            </button>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div
            class="tab-pane fade show active"
            id="nav-profile"
            role="tabpanel"
            aria-labelledby="nav-profile-tab"
          >
            <div class="row">
              <div class="col-md-12">
                <div class="card mb-3">
                  <div class="card-header">
                    <h5>Dados do Paciente</h5>
                  </div>
                  <div class="card-body">
                    <input
                      type="hidden"
                      name="paciente_id"
                      value="{{ paciente.id }}"
                    />
                    <div class="mb-3">
                      <label for="nome_completo" class="form-label"
                        >Nome Completo (Obrigatório)</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="nome_completo"
                        name="nome_completo"
                        value="{{ paciente.nome_completo }}"
                        required
                        readonly
                      />
                    </div>
                    <div class="mb-3">
                      <label for="genero" class="form-label">Gênero</label>
                      <input
                      type="text"
                      class="form-control"
                      id="genero"
                      name="genero"
                      value="{{ paciente.genero }}"
                      required
                      readonly
                    />
                    </div>
                    <div class="mb-3">
                      <label for="data_nascimento" class="form-label"
                        >Data de Nascimento (Obrigatório)</label
                      >
                      <input
                        type="date"
                        class="form-control"
                        id="data_nascimento"
                        name="data_nascimento"
                        value="{{ paciente.data_nascimento|date:'Y-m-d' }}"
                        required
                        readonly
                      />
                    </div>
                    <div class="mb-3">
                      <label for="ocupacao" class="form-label">Ocupação</label>
                      <input
                        type="text"
                        class="form-control"
                        id="ocupacao"
                        name="ocupacao"
                        value="{{ paciente.ocupacao }}"
                        readonly
                      />
                    </div>
                    <div class="mb-3">
                      <label for="cep" class="form-label">CEP</label>
                      <input
                        type="text"
                        class="form-control"
                        id="cep"
                        name="cep"
                        value="{{ paciente.cep }}"
                        readonly
                      />
                    </div>
                    <div class="mb-3">
                      <label for="celular" class="form-label"
                        >Número de Celular</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="celular"
                        name="celular"
                        value="{{ paciente.celular }}"
                        readonly
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="nav-anamnese"
            role="tabpanel"
            aria-labelledby="nav-anamnese-tab"
          >
            <div class="row">
              <div class="col-md-12">
                <div class="card mb-3">
                  <div class="card-header">
                    <h5>Anamnese</h5>
                  </div>
                  <div class="card-body">
                    <div class="mb-3">
                      <label for="question-one" class="form-label"
                        >Objetivo da consulta</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="question-one"
                        name="question-one"
                        value="{{ paciente.objetivo_consulta }}"
                        readonly
                      />
                    </div>
                    <div class="mb-3">
                      <label for="question-two" class="form-label"
                        >Histórico alimentar</label
                      >
                      <textarea
                        class="form-control"
                        id="question-two"
                        name="question-two"
                        rows="3"
                        readonly
                      >{{ paciente.historico_alimentar }}</textarea>
                    </div>
                    <div class="mb-3">
                      <label for="question-three" class="form-label"
                        >Alergias</label
                      >
                      <textarea
                        class="form-control"
                        id="question-three"
                        name="question-three"
                        rows="3"
                        readonly
                      >{{ paciente.alergias }}</textarea>
                    </div>
                    <div class="mb-3">
                      <label for="question-four" class="form-label"
                        >Rotina de alimentação</label
                      >
                      <textarea
                        class="form-control"
                        id="question-four"
                        name="question-four"
                        rows="3"
                        readonly
                      >{{ paciente.rotina_de_alimentacao }}</textarea>
                    </div>
                    <div class="mb-3">
                      <label for="question-five" class="form-label"
                        >Rotina de atividade física</label
                      >
                      <textarea
                        class="form-control"
                        id="question-five"
                        name="question-five"
                        rows="3"
                        readonly
                      >{{ paciente.rotina_de_atividade_fisica }}</textarea>
                    </div>
                    <div class="mb-3">
                      <label for="question-six" class="form-label"
                        >Preferências e restrições</label
                      >
                      <textarea
                        class="form-control"
                        id="question-six"
                        name="question-six"
                        rows="3"
                        readonly
                      >{{ paciente.preferencias_e_restricoes }}</textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="tab-pane fade"
            id="nav-avalicao"
            role="tabpanel"
            aria-labelledby="nav-avalicao-tab"
          >
            <div class="row">
              <div class="col-md-12">
                <div class="card mb-3">
                  <div class="card-header">
                    <h5>Dados Antopométricos</h5>
                  </div>
                  <div class="card-body">
                    <div class="row g-3">
                      <div class="col-md-6">
                        <div class="input-group">
                          <div class="input-group-text w-50">Peso</div>
                          <input
                            type="number"
                            class="form-control"
                            id="weigth"
                            name="weigth"
                            value="{{ paciente.peso }}"
                            readonly
                          />
                          <div class="input-group-text">kg</div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="input-group">
                          <div class="input-group-text w-50">Altura</div>
                          <input
                            type="number"
                            class="form-control"
                            id="heigth"
                            name="heigth"
                            value="{{ paciente.altura }}"
                            readonly
                          />
                          <div class="input-group-text">cm</div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="input-group">
                          <div class="input-group-text w-50">
                            Dobra cutânea iliocristal
                          </div>
                          <input
                            type="number"
                            class="form-control"
                            id="dobraIliocristal"
                            name="dobraIliocristal"
                            value="{{ paciente.dobra_cutanea_iliocristal }}"
                            readonly
                          />
                          <div class="input-group-text">mm</div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="input-group">
                          <div class="input-group-text w-50">
                            Dobra cutânea supraespinal
                          </div>
                          <input
                            type="number"
                            class="form-control"
                            id="dobraSupraespinal"
                            name="dobraSupraespinal"
                            value="{{ paciente.dobra_cutanea_supraespinhal }}"
                            readonly
                          />
                          <div class="input-group-text">mm</div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="input-group">
                          <div class="input-group-text w-50">
                            Dobra cutânea abdominal
                          </div>
                          <input
                            type="number"
                            class="form-control"
                            id="dobraAbdominal"
                            name="dobraAbdominal"
                            value="{{ paciente.dobra_cutanea_abdominal }}"
                            readonly
                          />
                          <div class="input-group-text">mm</div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="input-group">
                          <div class="input-group-text w-50">
                            Dobra cutânea axilar média
                          </div>
                          <input
                            type="number"
                            class="form-control"
                            id="dobraAxilar"
                            name="dobraAxilar"
                            value="{{ paciente.dobra_cutanea_axilar_media }}"
                            readonly
                          />
                          <div class="input-group-text">mm</div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="input-group">
                          <div class="input-group-text w-50">
                            Dobra cutânea da coxa
                          </div>
                          <input
                            type="number"
                            class="form-control"
                            id="dobraCoxa"
                            name="dobraCoxa"
                            value="{{ paciente.dobra_cutanea_coxa }}"
                            readonly
                          />
                          <div class="input-group-text">mm</div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="input-group">
                          <div class="input-group-text w-50">
                            Dobra cutânea peitoral
                          </div>
                          <input
                            type="number"
                            class="form-control"
                            id="dobraPeitoral"
                            name="dobraPeitoral"
                            value="{{ paciente.dobra_cutanea_peitoral }}"
                            readonly
                          />
                          <div class="input-group-text">mm</div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="input-group">
                          <div class="input-group-text w-50">
                            Dobra cutânea subescapular
                          </div>
                          <input
                            type="number"
                            class="form-control"
                            id="dobraSubescapular"
                            name="dobraSubescapular"
                            value="{{ paciente.dobra_cutanea_subescapular }}"
                            readonly
                          />
                          <div class="input-group-text">mm</div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="input-group">
                          <div class="input-group-text w-50">
                            Dobra cutânea suprailíaca
                          </div>
                          <input
                            type="number"
                            class="form-control"
                            id="dobraSuprailíaca"
                            name="dobraSuprailíaca"
                            value="{{ paciente.dobra_cutanea_suprailiaca }}"
                            readonly
                          />
                          <div class="input-group-text">mm</div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="input-group">
                          <div class="input-group-text w-50">
                            Dobra cutânea tricipital
                          </div>
                          <input
                            type="number"
                            class="form-control"
                            id="dobraTricipital"
                            name="dobraTricipital"
                            value="{{ paciente.dobra_cutanea_tricipital }}"
                            readonly
                          />
                          <div class="input-group-text">mm</div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="input-group">
                          <div class="input-group-text w-50">
                            Perímetro da cintura
                          </div>
                          <input
                            type="number"
                            class="form-control"
                            id="waist"
                            name="waist"
                            value="{{ paciente.perimetro_cintura }}"
                            readonly
                          />
                          <div class="input-group-text">cm</div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="input-group">
                          <div class="input-group-text w-50">
                            Perímetro do quadril
                          </div>
                          <input
                            type="number"
                            class="form-control"
                            id="hip"
                            name="hip"
                            value="{{ paciente.perimetro_quadril }}"
                            readonly
                          />
                          <div class="input-group-text">cm</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="tab-pane fade"
            id="nav-exames"
            role="tabpanel"
            aria-labelledby="nav-exames-tab"
          >
            <div class="row">
              <div class="col-md-12">
                <div class="card mb-3">
                  <div class="card-header">
                    <h5>Dados Laboratoriais</h5>
                  </div>
                  <div class="card-body">
                    <div class="row g-3">
                      <div class="col-md-6">
                        <div class="input-group">
                          <div class="input-group-text w-50">Colesterol HDL</div>
                          <input
                            type="number"
                            class="form-control"
                            id="colesHDL"
                            name="colesHDL"
                            value="{{ paciente.colesterol_hdl }}"
                            readonly

                            />
                          <div class="input-group-text">mg/dL</div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="input-group">
                          <div class="input-group-text w-50">Colesterol LDL</div>
                          <input
                            type="number"
                            class="form-control"
                            id="colesLDL"
                            name="colesLDL"
                            value="{{ paciente.colesterol_ldl }}"
                            readonly

                            />
                          <div class="input-group-text">mg/dL</div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="input-group">
                          <div class="input-group-text w-50">
                            Colesterol Total
                          </div>
                          <input
                            type="number"
                            class="form-control"
                            id="colesTotal"
                            name="colesTotal"
                            value="{{ paciente.colesterol_total }}"
                            readonly

                            />
                          <div class="input-group-text">mg/dL</div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="input-group">
                          <div class="input-group-text w-50">
                            Pressão Arterial diastólica
                          </div>
                          <input
                            type="number"
                            class="form-control"
                            id="pressDiastolica"
                            name="pressDiastolica"
                            value="{{ paciente.pressao_arterial_diastolica }}"
                            readonly

                            />
                          <div class="input-group-text">mmHg</div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="input-group">
                          <div class="input-group-text w-50">
                            Pressão Arterial Sistólica
                          </div>
                          <input
                            type="number"
                            class="form-control"
                            id="pressSistolica"
                            name="pressSistolica"
                            value="{{ paciente.pressao_arterial_sistolica }}"
                            readonly
                            />
                          <div class="input-group-text">mmHg</div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="input-group">
                          <div class="input-group-text w-50">
                            Triglecerídios
                          </div>
                          <input
                            type="number"
                            class="form-control"
                            id="trig"
                            name="trig"
                            value="{{ paciente.triglicerideos }}"
                            readonly
                          />
                          <div class="input-group-text">mg/dL</div>
                        </div>
                      </div>

                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="tab-pane fade"
            id="nav-composicao"
            role="tabpanel"
            aria-labelledby="nav-composicao-tab"
          >
            <div class="row">
              <div class="col-md-12">
                <div class="card mb-3">
                  <div class="card-header">
                    <h5>Composição Corporal</h5>
                  </div>
                  <div class="card-body">
                    <div class="row g-3">
                      <div class="col-md-6">
                        <div class="input-group">
                          <div class="input-group-text w-75">Massa Gorda</div>
                          <input
                            type="number"
                            class="form-control"
                            id="fat"
                            name="massa_gorda"
                            value="{{paciente.massa_gorda}}"
                            readonly
                          />
                          <div class="input-group-text">kg</div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="input-group">
                          <div class="input-group-text w-75">Massa Muscular</div>
                          <input
                            type="number"
                            class="form-control"
                            id="muscle"
                            name="massa_muscular"
                            value="{{paciente.massa_muscular}}"
                            readonly
                            />
                          <div class="input-group-text">kg</div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="input-group">
                          <div class="input-group-text w-75">
                            Porcentagem de massa gorda
                          </div>
                          <input
                            type="number"
                            class="form-control"
                            id="percFat"
                            name="percFat"
                            value="{{paciente.porcentagem_massa_gorda}}"
                            readonly
                            />
                          <div class="input-group-text">%</div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="input-group">
                          <div class="input-group-text w-75">
                            Porcentagem de massa muscular
                          </div>
                          <input
                            type="number"
                            class="form-control"
                            id="percMuscle"
                            name="percMuscle"
                            value="{{paciente.porcentagem_massa_muscular}}"
                            readonly                            
                            />
                          <div class="input-group-text">%</div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="input-group">
                          <div class="input-group-text w-75">IMC</div>
                          <input
                            type="number"
                            class="form-control"
                            id="imc"
                            name="imc"
                            value="{{paciente.imc}}"
                            readonly
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
    
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    </form>
    </body>
  <style>

    .nav-link {
      color: rgb(0, 0, 0); 
      background-color: #007bff; 
    }
    .nav-link.active {
      background-color: #0056b3; 
    }
    .nav-link:hover {
      background-color: #28a745;
      color: #fff; 
    }
  </style>
</html>

{% endblock %}
